
<button type="button" (click) = "filterAsc()">
  <i class="fas fa-sort-alpha-down"></i>
</button>

<button type="button" (click) = "filterDesc()">
  <i class="fas fa-sort-alpha-up"></i>
</button>


<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let product of products" class="card" style="width: 18rem" >
    <img src="..." class="card-img-top" [src]="product.image" alt="...">
    <div class="card-body">
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <div>
          <h1 class="card-title">{{product.name}}</h1>
          <h3 class="card-text">
            {{product.description}}
          </h3>
          <mat-icon matBadge={{counter}} matBadgeColor="warn">shopping_cart</mat-icon>
          <h3 class="card-price">{{product.price|currency:'₺'}}</h3>
          <div class="row tab-content-center">

            <div class ="col-md-5">
              <button (click)="removeFromCart(product)" class="button" mat-raised-button color="accent">Sepetten Çıkar
                <i class="fa fa-minus"></i>
              </button>

            </div>
            <div class ="col-md-2"></div>

            <div class ="col-md-5">
              <button (click)="addToCart(product)" class="button" mat-raised-button color="accent">Sepete Ekle
                <i class="fa fa-plus"></i>
              </button>

            </div>
          </div>

        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      &nbsp;
    </div>
  </div>
</div>
