.example-spacer {
    flex: 1 1 auto;
  }

  .tab-content-center {
    display: flex;
    justify-content: center;
  }
  .toolbar{
    width: 100 px;
    font-size: 20px;
    cursor: pointer;
    margin: 4px 2px;
    padding: 2px 20px;
  }
