<mat-toolbar>
  <div class = "col-md-3">
    <img class="img-responsive" src="assets/images/icon.png">
  </div>
  <div class = "col-md-12">

      <div class="row">

        <div class = "col-md-7"></div>
          <div class="col-md-1" >
            <form (ngSubmit)="onLogin()">
            <button type="submit" class="toolbar" mat-raised-button color="accent">
              <i class="fa fa-user"></i>
              Giriş Yap
            </button>
          </form>
        </div>
        <div class="col-md-1" >
          <form (ngSubmit) = "onRegister()">
            <button type="submit" class="toolbar" mat-stroked-button color="accent">
              <i class="fa fa-user-plus"></i>
              Kayıt Ol
            </button>
          </form>
        </div>
      </div>



  </div>
</mat-toolbar>
<img class="img-responsive" src="assets/images/kapak.png">
