<mat-toolbar>
  <div class = "col">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="" >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <app-nested-node></app-nested-node>
    </mat-menu>
  </div>
  <div class = "col-md-3">
    <img class="img-responsive" src="assets/images/icon.png">
  </div>
  <div class = "col-md-12">
    <form (ngSubmit)="onLogin()">
      <div class="row">

        <div class = "col-md-7">
        </div>
        <div class="col-md-1" >
          <button type="submit" mat-raised-button color="accent">Giriş Yap</button>
        </div>
        <div class="col-md-1" >

          <button type="submit" mat-stroked-button color="accent">Kayıt Ol</button>
        </div>
      </div>
    </form>
  </div>
</mat-toolbar>
<img class="img-responsive" src="assets/images/kapak.png">
