<mat-toolbar>

    <div class="col-md-10">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <app-nested-node></app-nested-node>
        </mat-menu>
    </div>

    <div class="col-md-3">

        <button mat-raised-button color="accent">Giriş Yap</button>

        &nbsp;
        <button mat-stroked-button color="accent">Kayıt Ol</button>

    </div>
</mat-toolbar>
