<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5">Giriş Yap</h5>
              <form>
                <div class = "form-floating mb-3 ">
                  <div class = "form-floating mb-3 ">
                    <input  class="input form-control tab-content-center" type = "text" id="floatingInput" name="email" [(ngModel)] = "email">
                    <label for="floatingInput">Email</label>
                  </div>
                  <div class = "form-floating mb-3 ">
                    <input type = "password" class="input form-control form-check mb-3 tab-content-center"  id="floatingPassword" name="password" [(ngModel)]="password">
                    <label for="floatingPassword">Şifre</label>
                  </div>
                    <div class="form-check mb-3">
                      <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                      <label class="form-check-label" for="rememberPasswordCheck">
                        Şifremi Hatırla
                      </label>
                    </div>
                  <div class="input d-grid tab-content-center">
                    <button color="accent" (click)="LoginUser()" type="submit" mat-raised-button color="accent">Giriş Yap</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
     <router-outlet></router-outlet>
  </body>
