<mat-tab-group mat-align-tabs="center">
  <mat-tab label="En Beğenilenler">
    <div class="row">
     
        <app-cards></app-cards>

    </div>
  </mat-tab>
  <mat-tab label="Yeni Sezon">
    <div class="row">
    
      <app-cards></app-cards>

  </div>
  </mat-tab>
  <mat-tab label="Özel İndirimler">
    <div class="row">
    
      <app-cards></app-cards>

  </div>
  </mat-tab>
  <mat-tab label="Fırsat Ürünleri">
    <div class="row">
    
      <app-cards></app-cards>

  </div>
  </mat-tab>
</mat-tab-group>