.example-action-button {
    margin-top: 8px;
    margin-right: 8px;
  }
  .tab-content-center {
    display: flex;
    justify-content: center;
  }
::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: large;
}

  .toolbar{
    width: 100 px;
    font-size: 20px;
    cursor: pointer;
    margin: 4px 2px;
    padding: 2px 17px;
  }
